/* General container styles */
.container {
    margin: 0 0 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form wrapper styles */
.form-wrapper {
    background-color: #fff9f9;
    padding: 20px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1200px;
}

/* Header styles */
.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h2 {
    font-size: 24px;
    font-weight: bold;
}

/* Form row and group styles */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    display: flex;
    align-items: center;
}

/* Input, select, and textarea styles */
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e0;
    outline: none;
    color: #4a5568;
}

.form-group input::placeholder,
.form-group select::placeholder,
.form-group textarea::placeholder {
    color: #a0aec0;
}

.form-group select {
    appearance: none;
}

.form-group textarea {
    resize: none;
}

/* Button styles */
.btn {
    padding: 10px;
    margin-left: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn {
    background-color: rgba(194, 0, 0, 0.897);
    border: 1px solid rgba(194, 0, 0, 0.897);
}

.add-btn {
    background-color: rgb(0, 119, 0);
    border: 1px solid rgb(0, 119, 0);
}

.submit-btn {
    background-color: var(--color1);
    border: 1px solid var(--color1);
    font-weight: bold;
    width: 100%;
}

.btn:hover {
    background-color: var(--color5);
    color: var(--color1);
}

/* Loader styles */
.loader {
    position: absolute;
}

/* Add category and subcategory sections */
.add-category-section,
.add-subcategory-section {
    display: flex;

    margin-top: 20px;
    text-align: center;
}

.add-category-section h3,
.add-subcategory-section h3 {
    margin-bottom: 10px;
}

.add-category-section input,
.add-subcategory-section select,
.add-subcategory-section input {
    width: calc(100% - 10px);
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #cbd5e0;
}

.add-category-section button,
.add-subcategory-section button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--color1);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-category-section button:hover,
.add-subcategory-section button:hover {
    background-color: var(--color5);
    color: var(--color1);
}
