.order-container {
  padding: 20px;
}

.order-header {
  padding-bottom: 20px;
}

.order-header h1 {
  font-size: 1.25rem;
  color: var(--color1);
  font-weight: bold;
}

.order-table-container {
  width: 100%;
  overflow-x: auto;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color1);
  color: var(--color1);
}

.order-table th,
.order-table td {
  padding: 10px;
  border: 1px solid var(--color1);
  color: var(--color1);
}

.order-table th {
  background-color: var(--color4);
  font-weight: bold;
}

.order-table td img {
  max-width: 50px;
}

.order-table td {
  transition: background-color 0.3s;
}

.order-table td:hover {
  background-color: #fde8f3;
}

.delete-button {
  color: var(--color1);
  cursor: pointer;
}

@media (max-width: 640px) {

  .order-table th,
  .order-table td {
    padding: 5px;
  }

  .order-header h1 {
    font-size: 1rem;
  }
}

.dashboard-container {
  padding: 20px;
}

.dashboard-header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--color4);
  border: 1px solid var(--color1);
  text-align: center;
}

.dashboard-header h1 {
  font-size: 1.5rem;
  color: var(--color1);
  font-weight: bold;
}

.user-info {
  background-color: var(--color4);
  padding: 20px;
  border: 1px solid var(--color1);
  text-align: center;
}

.user-info img {
  max-width: 100px;
  margin: 0 auto;
}

.user-info h1 {
  color: var(--color1);
  margin-top: 10px;
}

.tabs {
  justify-content: center;
  margin-top: 20px;


}

.tab {
  padding: 2rem 4rem;
  color: var(--color1);
  border: 1px solid var(--color1);
  cursor: pointer;
  margin: 10px;
  align-items: center;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: var(--color1);
  color: var(--color5);

}

.tab svg {
  width: 50px;
  height: 50px;
    margin-bottom: 10px;
}

.tab h2 {
  font-size: 1.5rem;
  color: var(--color9);
}

.tab p {
  font-weight: bold;
}

@media (max-width: 360px) {

  .dashboard-header h1,
  .user-info h1,
  .tab h2 {
    font-size: 1rem;
  }

  .tab {
    padding: 10px;
  }
}